.hero-card {
  margin-bottom: 30px;

  .card {
    height: 420px;

    &-title {
      margin-bottom: 0;
    }

    &-body {
      height: 20%;
      padding: 10px;
    }

    &-img-top {
      height: 80%;
    }

    @media (max-width: 992px) {
      height: 300px;
    }
    @media (max-width: 576px) {
      height: 390px;
      width: 290px;
      margin: 0 auto;
    }
  }
}
