@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./var";
@import "navBar";
@import "heroCard";
@import "pagination";
@import "heroDetails";
@import "createHero";

img {
  max-width: 100%;
}

.loader-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-page {
  text-align: center;

  p {
    font-size: 38px;
    color: #f30808;
  }
}

.image-carousel {
  display: flex;
  align-items: center;
  width: 300px;
  height: 450px;
  overflow: hidden;
  background-color: $bg-color;

  @media (max-width: 576px) {
    width: 250px;
    height: 300px;
  }
}

